/* static\src\scss\cloud_storage.scss */
body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
  }
  
  .file-manager {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .search-area {
    display: flex;
    margin-bottom: 20px;
  }
  
  .search-bar {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-right: none;
  }
  
  .search-btn {
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .search-btn:hover {
    background: #0056b3;
  }
  
  .files-list {
    border-collapse: collapse;
    width: 100%;
  }
  
  .file {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .folder-icon {
    color: #fdd835; /* Amarillo para carpetas */
    margin-right: 10px;
  }
  
  .file-icon {
    margin-right: 10px;
  }
  
  .xlsx {
    color: #207245; /* Verde para archivos Excel */
  }
  
  .file-name {
    flex-grow: 1;
  }
  
  .file-date {
    white-space: nowrap;
    margin-right: 10px;
  }
  
  .file-size {
    white-space: nowrap;
    margin-right: 10px;
  }
  
  .download-btn {
    cursor: pointer;
    background: transparent;
    border: none;
    color: #007bff;
  }
  
  .download-btn:hover {
    color: #0056b3;
  }
  
  .navigation {
    margin-bottom: 10px;
  }
  
  .back-btn, .home-btn {
    cursor: pointer;
    background: #ddd;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
  }
  
  .back-btn:hover, .home-btn:hover {
    background: #ccc;
  }
  

