/* Estilos generales para la vista de almacenamiento en la nube */

/* Estilos para la barra de búsqueda */
.cloud-storage-search {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Asegura que los elementos se adapten a pantallas pequeñas */
}

.cloud-storage-search .cloud-search-input {
    flex-grow: 1;
    margin-right: 10px;
    min-width: 150px;
}

/* Estilos para los botones de búsqueda y limpieza */
.cloud-storage-search button,
.cloud-storage-search a.btn {
    padding: 6px 12px;
    border-radius: 4px;
    text-decoration: none;
}

/* Estilos para los iconos de las carpetas y archivos según su extensión */
.file-dir-entry i {
    margin-right: 10px;
    font-size: 24px;
}

/* Clases específicas para los íconos de diferentes tipos de archivos */
/* Debes incluir tu propia lógica para asignar estas clases basada en la extensión del archivo */
.icon-excel { color: #28a745; }
.icon-word { color: #007bff; }
.icon-pdf { color: #ff0000; }

/* Estilos para los botones de descarga */
.download-btn {
    margin-left: auto;
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.download-btn:hover {
    background-color: #218838;
}

/* Estilos para la vista de archivos y carpetas */
.cloud-storage-content .file-dir-entry,
.search-results-content .search-result-entry {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    flex-wrap: wrap; /* Permite envolver el contenido en pantallas pequeñas */
}

/* Media queries para adaptación a pantallas de diferentes tamaños */

/* Estilos para tabletas y móviles */
@media (max-width: 600px) {
    .cloud-storage-search {
        flex-direction: column; /* Cambia la disposición a vertical */
    }
    .cloud-storage-search .cloud-search-input,
    .cloud-storage-search button,
    .cloud-storage-search a.btn {
        width: 100%;
        margin-bottom: 10px;
    }
    
    .cloud-storage-content .file-dir-entry,
    .search-results-content .search-result-entry {
        flex-direction: column; /* Cambia la disposición a vertical */
    }
    
    .cloud-storage-content .file-dir-entry .download-btn,
    .search-results-content .search-result-entry .download-btn {
        margin-left: 0; /* Remueve el margen izquierdo */
    }
    
    .file-dir-entry i,
    .search-result-entry i {
        font-size: 1.5em; /* Aumenta el tamaño del icono ligeramente para pantallas táctiles */
    }
}

/* Estilos para pantallas muy pequeñas */
@media (max-width: 400px) {
    .file-dir-entry i,
    .search-result-entry i {
        font-size: 1.2em; /* Reduce el tamaño del icono para pantallas muy pequeñas */
    }
}
