body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
  }
  
  .file-manager {
    max-width: calc(100% - 40px);
    margin: 20px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .search-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .search-bar {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    margin-right: 5px;
  }
  
  .search-btn {
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .search-btn:hover {
    background: #0056b3;
  }
  
  /* Estilo para el botón Limpiar */
  .clear-btn {
    padding: 10px;
    background-color: #f0ad4e; /* Color naranja para el botón */
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 5px; /* Margen para separar del botón Buscar */
  }
  
  .clear-btn:hover {
    background-color: #ec971f; /* Color naranja más oscuro al pasar el cursor */
  }
  
  .cloud-storage-content, .files-list {
    width: 100%;
  }
  
  .file-dir-entry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  /* Estilos para los íconos de tipo de archivo */
  .fa-folder {
    color: #fdd835; /* Color amarillo para íconos de carpeta */
  }
  
  .icon-excel {
    color: #207245; /* Color verde para archivos Excel */
  }
  
  .icon-word {
    color: #2b579a; /* Color azul para archivos Word */
  }
  
  .icon-pdf {
    color: #ff0000; /* Color rojo para archivos PDF */
  }
  
  /* Añadir más selectores de íconos para otros tipos de archivos según sea necesario */
  
  .file-name {
    flex-grow: 1;
    margin-right: 20px;
  }
  
  .download-btn {
    cursor: pointer;
    background: transparent;
    border: none;
    color: #007bff;
    padding: 5px 10px;
    margin-left: 10px;
  }
  
  .download-btn:hover {
    color: #0056b3;
  }
  
  .navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .back-btn, .home-btn {
    cursor: pointer;
    background: #ddd;
    border: none;
    padding: 5px 10px;
    color: #000;
    text-decoration: none;
  }
  
  .back-btn:hover, .home-btn:hover {
    background: #ccc;
  }
  