#copier_form .container-form {
    background-color: #f8f9fa; /* Color de fondo claro */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera para dar profundidad */
    padding: 20px; /* Espaciado interno */
}

#copier_form h2 {
    color: #0056b3; /* Color azul para el título */
    font-weight: bold; /* Negrita para el título */
    margin-bottom: 20px; /* Espacio después del título */
}

#copier_form .form-group {
    margin-bottom: 15px; /* Espaciado entre grupos de formulario */
}

#copier_form label {
    font-weight: 600; /* Semi-negrita para etiquetas */
    color: #333; /* Color oscuro para texto */
}

#copier_form .form-control {
    border-radius: 5px; /* Bordes redondeados para inputs */
    border: 1px solid #ced4da; /* Borde sutil */
}

#copier_form .btn-success {
    background-color: #28a745; /* Verde botón */
    border-color: #28a745; /* Borde del mismo color */
    padding: 10px 15px; /* Padding más generoso */
    font-size: 16px; /* Tamaño de letra más grande */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave para hover */
}

#copier_form .btn-success:hover {
    background-color: #218838; /* Verde oscuro en hover */
}
